.pagination{
    justify-content: center;
    position: relative;
    border: none;
}

.displayFlex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;;
    align-items: center;
    .dropdown {
        width: 50%;
    }
}
#filterLabel{
    padding-right: 40px;
    text-align: center;
}
.dropdownItems{
    display: flex;
    flex-direction: column;
    
}