.loginDesign {
    /* fallback for old browsers */
    background: #fff;
    .text-color{ color: #666;}
    .primary {
      background-color: #2f78c4;
    }
    .secondary {
      background-color: #666;
    }
  }