<?xml version="1.0" encoding="UTF-8"?>
<Configuration level="error" name ="com.auth0" >
    <Appenders>
        <JDBC name="dbLogsStore" tableName="EVENT_LOGS">

            <!-- If Using then JNDI DateSource -->
            <!-- <DataSource jndiName="java:/comp/env/jdbc/LoggingDataSource" /> -->

            <ConnectionFactory
                    class="com.auth0.config.LogsStoreConnectionFactory"
                    method="getConnection" />
            <Column name="ID" pattern="%u" />
            <Column name="DATE_TIME" isEventTimestamp="true" />
            <Column name="CLASS" pattern="%logger" />
            <Column name="LEVEL" pattern="%level" />
            <Column name="MESSAGE" pattern="%message" />
            <Column name="EXCEPTION" pattern="%ex{full}" isClob="true"/>
        </JDBC>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="MyFile" fileName="all.log" immediateFlush="true" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.auth0.controller" level="info">
                <AppenderRef ref="dbLogsStore"/>
        </Logger>
        <Logger name ="com.auth0" level ="info">
            <AppenderRef ref="MyFile"/>
        </Logger>

        <Root level="info">
<!--            <AppenderRef ref="Console" />-->
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>